<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>



<div class="container">
    <h2 style="color: white; text-align: center;">Transaction History</h2>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div style="align-items: center; text-align: center;">
          <table class="table align-middle" style="background-color: aliceblue; text-align: center;">
              <thead>
                <tr>
                  <th scope="col">Account</th>
                  <th scope="col">Type</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of transaction">
                  <td>{{t.amount}}</td>
                  <td>{{t.type}}</td>
                </tr>
              </tbody>
            </table>
      
            <a routerLink="/home">Back to Home</a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  
</div>