<!-- As a link -->
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>
<!-- <h3 style="color:white">{{aim}}</h3> -->



<div class="container">
    <!-- Transaction History -->
    <!-- Transaction History End -->
    <div><h1 style="color: white;">Welcome {{user}}</h1> <button type="button" (click)="logout()" style="float: right;" class="btn btn-warning">Log Out </button>
       <p style="color: white;">{{ldata | date :'short'}}</p>
    </div>
    <a routerLink="/history" style="color: aqua;">Transaction History</a>

    <!-- <app-animation-demo></app-animation-demo> -->
    <div>
        <h1>{{myName}}</h1>
    </div>

    

  <!-- delete buttob -->
    <button type="button"  (click)="deleteAccount()"  style="float: right;" class="btn btn-danger mt-2">Delete Your Account</button><br>

<hr>

    <app-delete-confirm (onCancel)="cancel()" (onDelete)="delete($event)" [item]="acno"></app-delete-confirm>


<div class="row " style="height: 372px;">    
        <div [ngClass]="acno? 'style1':''" class="container col-md-6 mt-0 " style="margin-bottom: 250px;">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 appHighlight class="text-center">Deposite From</h3>
        
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="deposite()" [formGroup]="depositeForm">
        
        
        
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="acno" formControlName="acno"
                                    placeholder="Account number" id="acno" required>
        
                            </div>
                            <div style="color: red;" *ngIf="(this.depositeForm.get('acno')?.touched||this.depositeForm.get('acno')?.dirty) &&(this.depositeForm.get('acno')?.errors)">Invalid Account Number</div>
        
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="pass" formControlName="pass"
                                    placeholder="password" id="pass" required>
                            </div>
                            <div style="color: red;" *ngIf="(this.depositeForm.get('pass')?.touched||this.depositeForm.get('pass')?.dirty) &&(this.depositeForm.get('pass')?.errors)">Invalid Password</div>
        
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="amount" formControlName="amount" placeholder="Amount"
                                    id="amount" required>
        
                            </div>
                            <div style="color: red;" *ngIf="(this.depositeForm.get('amount')?.touched||this.depositeForm.get('amount')?.dirty) &&(this.depositeForm.get('amount')?.errors)">Invalid Amount</div>
        
                            <div class="form-group">
                                <input type="submit" value="Deposite" class="btn float-right login_btn " style="width:50%">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div [ngClass]="acno? 'style1':''" class="container col-md-6 mt-0">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3 appHighlight class="text-center">Withdraw From</h3>
        
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="acno1" formControlName="acno1"
                                    placeholder="account number" id="acno1" required>
        
                            </div>
                            <div style="color: red;" *ngIf="(this.withdrawForm.get('acno1')?.touched||this.withdrawForm.get('acno1')?.dirty) &&(this.withdrawForm.get('acno1')?.errors)">Invalid Account Number</div>
        
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="pass1" formControlName="pass1"
                                    placeholder="password" id="pass1" required>
                            </div>
                            <div style="color: red;" *ngIf="(this.withdrawForm.get('pass1')?.touched||this.withdrawForm.get('pass1')?.dirty) &&(this.withdrawForm.get('pass1')?.errors)">Invalid Password</div>
        
        
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="amount1" formControlName="amount1"
                                    placeholder="Amount" id="amount1" required>
        
                            </div>
                            <div style="color: red;" *ngIf="(this.withdrawForm.get('amount1')?.touched||this.withdrawForm.get('amount1')?.dirty) &&(this.withdrawForm.get('amount1')?.errors)">Invalid Amount</div>
                            <div class="form-group">
                                <input type="submit" value="withdraw" class="btn float-right login_btn " style="width:50%">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      
</div>
</div>